body {
    background-color: #171717;
    color: #F8F8F8;
    cursor: text;
    font-family: Droid Sans Mono, Lucida Console,CommPlus, MS LineDraw, Telix TT Terminal,monospace;
    font-size: 1.8em;
    height: 100%;
}

.inverse {
    background-color: #F8F8F8;
    color: #171717;
}

#hidden-input {
    opacity: 0;
    width: 0px;
    color: transparent;
    outline: none;
    left: -100px;
    position: relative;
}
